.BigCounter {
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 100px;
    line-height: auto;
    background: black;
    padding: 5%;
    margin: 20%;
    color: white;
}